body {
    background-color: var(--back);
}
body {
    /* used for the nav drawer pull out from behind, and the content gets pushed into a smaller card */
    --content-push-in-distance: 24px;
    /* this value is for the nav drawer width, update if the width needs to be larger or smaller without overflow */
    --nav-drawer-width-estimate: 320px;
    --nav-drawer-left-padding: 42px;
    --nav-drawer-right-padding: 16px;
}
body:has(#nav-drawer > #emoji-mode > #emoji-toggle:checked) {
    --nav-drawer-width-estimate: 340px;
}

#nav-drawer {
    --padding-block: 3.5rem;

    --h: 2rem; /* height of common elements like labels and bottom buttons */
    --p_t: 0px; /*padding top*/
}

#nav-hamburger {
    width: 24px;
    height: 24px;
    padding: 0;

    position: fixed;
    top: 16px;
    left: 16px;
    z-index: 9;

    cursor: pointer;

    transition: left 0.3s ease-in-out, top 0.15s ease-in-out;
}

@media (min-width:961px)  {
    #nav-hamburger {
        top: 24px;
        left: 24px;
    }
    #nav-toggle:checked + #nav-hamburger {
        top: calc(var(--content-push-in-distance) / 2 + 24px);
        left: calc(var(--nav-drawer-width-estimate) + 24px);

        transition: left 0.3s ease-in-out, top 0.5s ease-in-out;
    }
}

#hamburger, #hamburger::before, #hamburger::after {
    width: 24px;
    height: 3px;

    position: absolute;
    left: 0px;

    border-radius: 2px;
    background-color: var(--p);
    transition-duration: 0.5s;
}
#hamburger {
    margin-block: 10px;

    top: 0px;
}
#hamburger::before {
    top: -8px;
    z-index: 9;

    content: "";
}
#hamburger::after {
    top: 8px;
    z-index: 9;
    
    content: "";
}
#nav-hamburger:hover #hamburger::before {
    animation-name: shift_right_and_back;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}
#nav-hamburger:hover #hamburger {
    animation-name: shift_right_and_back;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 0.25s;
}
#nav-hamburger:hover #hamburger::after {
    animation-name: shift_right_and_back;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 0.50s;
}
@keyframes shift_right_and_back {
    0%  {padding-right: 0;}
    25% {padding-right: 2px;}
    50%{padding-right: 0;}
}
#nav-toggle:checked + #nav-hamburger > #hamburger {
    background-color: transparent;

    animation-name: none;
}
#nav-toggle:checked + #nav-hamburger > #hamburger::before {
    top: 0;
    rotate: -45deg;

    animation-name: none;
}
#nav-toggle:checked + #nav-hamburger > #hamburger::after {
    top: 0;
    rotate: 45deg;

    animation-name: none;
}
#nav-toggle {
    display: none;
}
#nav-tap-out {
    position: fixed;
    width: 100%;
    height: 100%;

    cursor: pointer;

    z-index: 1;

    display: none;
}
#nav-toggle:checked + #nav-hamburger + #nav-tap-out {
    display: block;
}
@media (min-width:961px)  {
    #nav-tap-out {
        display: none !important;
    }
}

@media (prefers-color-scheme: light) {
    :root:has(#nav-drawer #mode #system-mode:checked), :root:has(#nav-drawer #mode  #light-mode:checked) #nav-drawer {
        --nd_1: 200, 200, 200;
        --nd_2: 160, 160, 160;
        --nd_3: 120, 120, 120;
        --nd_4:  80,  80,  80;
        --nd_5:  40,  40,  40;
    }
    :root:has(#nav-drawer #mode   #dark-mode:checked) #nav-drawer {
        --nd_1:  40,  40,  40;
        --nd_2:  80,  80,  80;
        --nd_3: 120, 120, 120;
        --nd_4: 160, 160, 160;
        --nd_5: 200, 200, 200;
    }
}
@media (prefers-color-scheme: dark) {
    :root:has(#nav-drawer #mode #system-mode:checked), :root:has(#nav-drawer #mode   #dark-mode:checked) #nav-drawer {
        --nd_1:  40,  40,  40;
        --nd_2:  80,  80,  80;
        --nd_3: 120, 120, 120;
        --nd_4: 160, 160, 160;
        --nd_5: 200, 200, 200;
    }
    :root:has(#nav-drawer #mode  #light-mode:checked) #nav-drawer {
        --nd_1: 200, 200, 200;
        --nd_2: 160, 160, 160;
        --nd_3: 120, 120, 120;
        --nd_4:  80,  80,  80;
        --nd_5:  40,  40,  40;
    }
}
#nav-drawer {
    /* --padding-block: 56px; */
    /* width: 0px; */
    /* width: fit-content; */
    width: calc(var(--nav-drawer-width-estimate) - var(--nav-drawer-left-padding) - var(--nav-drawer-right-padding));
    height: calc(100dvh - 2 * var(--padding-block));
    padding-block: var(--padding-block);

    position: fixed;
    padding-inline: 0px;
    left: -100%;
    z-index: 8;

    background-image: linear-gradient(  var(--a) calc(var(--padding-block) - 0.5rem),
                                        transparent var(--padding-block),
                                        transparent calc(100dvh - var(--padding-block) - 0.5rem),
                                        var(--a) calc(100dvh - var(--padding-block)));
    background-blend-mode: multiply;
    box-shadow: 0px 0px 8px black;
    transition: left 0.5s ease-in-out, padding-inline 0.5s ease-in-out;
    border: 1px solid rgba(63, 63, 63, 0.34);

    float: left;

    font-family: Satoshi-Regular, Helvetica, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#nav-drawer::before, #nav-drawer::after {
    position: fixed;
    height: 100%;
    width: var(--nav-drawer-width-estimate);

    top: 0;
    left: -100%;

    content: '';

    transition: left 0.5s ease-in-out;
}
#nav-drawer::before {
    background: rgba(var(--nd_1), 0.4);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    
    z-index: -1;
}
#nav-drawer::after {
    background-image: linear-gradient(  var(--a) calc(var(--padding-block) - 0.25rem),
                                        transparent var(--padding-block),
                                        transparent calc(100dvh - var(--padding-block) - 0.25rem),
                                        var(--a) calc(100dvh - var(--padding-block)));

    pointer-events: none;
    
    z-index: 0;
}
#nav-drawer {
    overflow-y: auto;
    -ms-overflow-style: none;   /* IE and Edge */
    scrollbar-width: none;      /* Firefox */
}
#nav-drawer::-webkit-scrollbar {
    display: none;
}
@media (min-width:961px)  {
    #nav-drawer::before, #nav-drawer::after {
        top: unset;
        left: unset;

        background: unset;
        backdrop-filter: unset;
        -webkit-backdrop-filter: unset;

        pointer-events: unset;

        z-index: unset;

        transition: unset;
    }
    #nav-drawer::before {
        --height: 3.5rem;
        --distance_to_opaque: 0.5rem;
        --transition_distance: 0.5rem;

        position: fixed;
        width: var(--nav-drawer-width-estimate);
        height: calc(var(--height) + var(--distance_to_opaque));

        left: 0;
        bottom: 0;

        display: block;

        background-image: linear-gradient(180deg, 
                                        transparent, 
                                        var(--back) calc(0% + var(--distance_to_opaque)) );

        content: '';
    }
    #nav-drawer::after {
        --height: 1rem;
        --distance_to_opaque: 0.5rem;

        position: fixed;
        width: var(--nav-drawer-width-estimate);
        height: calc(var(--height) + var(--distance_to_opaque));

        left: 0;
        top: 0;

        display: block;

        background-image: linear-gradient(0deg, 
                                        transparent, 
                                        var(--back) calc(0% + var(--distance_to_opaque)) );

        content: '';
    }
}
#nav-toggle:checked + #nav-hamburger + #nav-tap-out + #nav-drawer {
    /* width: fit-content; */
    padding-left: var(--nav-drawer-left-padding);
    padding-right: var(--nav-drawer-right-padding);
    left: 0;
}
#nav-toggle:checked + #nav-hamburger + #nav-tap-out + #nav-drawer::before, #nav-toggle:checked + #nav-hamburger + #nav-tap-out + #nav-drawer::after {
    left: 0;
}
@media (min-width:961px)  {
    #nav-drawer {
        height: calc(100dvh - 24px - 4rem);
        padding-top: 24px;
        padding-bottom: 4rem;

        padding-left: var(--nav-drawer-left-padding);
        padding-right: var(--nav-drawer-right-padding);
        left: unset;
        z-index: unset;

        box-shadow: unset;
        transition: unset;
        background: unset;
        backdrop-filter: unset;
        -webkit-backdrop-filter: unset;
        border: unset;
    }
    #nav-toggle:checked + * + #nav-drawer {
        left: unset;
        padding-left: var(--nav-drawer-left-padding);
        padding-right: var(--nav-drawer-right-padding);
    }
}

#nav-drawer > label, #nav-drawer > *:not(#mode):not(#emoji-mode) label {
    height: calc(var(--h) - var(--p_t));
    padding-inline: 8px;
    padding-top: var(--p_t);

    border: none;
    border-radius: 10px;
    display: flex;
    transition-duration: 0.5s;

    align-items: center;
    font-size: 20px;
    font-weight: 300;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: transparent;
    color: var(--p);
}
#nav-drawer label:hover {
    cursor: pointer;
}
#nav-drawer > *:not(#mode):not(#emoji-mode) + label:hover, #sub-nav-drawer label:hover {
    /* background-color: var(--g4); */
    background-color: rgba(var(--nd_2), 0.3);
}
#nav-drawer label:has(+ #sub-nav-drawer label:hover) {
    /* background-color: var(--g5); */
    background-color: rgba(var(--nd_2), 0.3);
}
#nav-drawer label:has(+ #sub-nav-drawer input:checked) {
    background-color: rgba(var(--nd_3), 0.45);
}
#nav-drawer > *:not(#mode):checked + label, #sub-nav-drawer input:checked + label {
    background-color: rgba(var(--nd_3), 0.8);
}

#nav-drawer label .nav-selection-line {
    height: 0px;
    width: 0px;
    
    position: relative;
    top: 0px;
    left: 0px;
}
#nav-drawer label .nav-selection-line::before,
#sub-nav-drawer label .nav-selection-line::after {
    height: var(--h);
    width: var(--h);
    margin-right: 4px;

    position: absolute;
    top: calc(var(--h) / -2);

    display: block;
    /* background-image: url('/icon/nav-drawer/Select\ Arrow.svg'); */
    background-size: cover;

    content: "";
}
#nav-drawer label .nav-selection-line::before {
    right: 0px;
}
#sub-nav-drawer label .nav-selection-line::after {
    right: var(--h);
}
#nav-drawer #sub-nav-drawer {
    /* padding-left: 28px; */
    padding-left: var(--h);
}

/* Hover Line and Arrow*/
@media (prefers-color-scheme: light) {
    :root:has(#nav-drawer #mode #system-mode:checked), :root:has(#nav-drawer #mode  #light-mode:checked) {
        --select_line:                      url('../icon/nav-drawer/l_select_line.svg');
        --select_arrow:                     url('../icon/nav-drawer/l_select_arrow.svg');
        --line:                             url('../icon/nav-drawer/l_line.svg');
        --selected_arrow:                   url('../icon/nav-drawer/l_selected_arrow.svg');
        --selected_arrow_select_arrow_below:url('../icon/nav-drawer/l_selected_arrow_+_select_arrow_below.svg')!important;
        --select_arrow_in_line:             url('../icon/nav-drawer/l_select_arrow_in_line.svg');
    }
    :root:has(#nav-drawer #mode   #dark-mode:checked) {
        --select_line:                      url('../icon/nav-drawer/d_select_line.svg');
        --select_arrow:                     url('../icon/nav-drawer/d_select_arrow.svg');
        --line:                             url('../icon/nav-drawer/d_line.svg');
        --selected_arrow:                   url('../icon/nav-drawer/d_selected_arrow.svg');
        --selected_arrow_select_arrow_below:url('../icon/nav-drawer/d_selected_arrow_+_select_arrow_below.svg')!important;
        --select_arrow_in_line:             url('../icon/nav-drawer/d_select_arrow_in_line.svg');
    }
}
@media (prefers-color-scheme: dark) {
    :root:has(#nav-drawer #mode #system-mode:checked), :root:has(#nav-drawer #mode   #dark-mode:checked) {
        --select_line:                      url('../icon/nav-drawer/d_select_line.svg');
        --select_arrow:                     url('../icon/nav-drawer/d_select_arrow.svg');
        --line:                             url('../icon/nav-drawer/d_line.svg');
        --selected_arrow:                   url('../icon/nav-drawer/d_selected_arrow.svg');
        --selected_arrow_select_arrow_below:url('../icon/nav-drawer/d_selected_arrow_+_select_arrow_below.svg');
        --select_arrow_in_line:             url('../icon/nav-drawer/d_select_arrow_in_line.svg');
    }
    :root:has(#nav-drawer #mode  #light-mode:checked) {
        --select_line:                      url('../icon/nav-drawer/l_select_line.svg');
        --select_arrow:                     url('../icon/nav-drawer/l_select_arrow.svg');
        --line:                             url('../icon/nav-drawer/l_line.svg');
        --selected_arrow:                   url('../icon/nav-drawer/l_selected_arrow.svg');
        --selected_arrow_select_arrow_below:url('../icon/nav-drawer/l_selected_arrow_+_select_arrow_below.svg');
        --select_arrow_in_line:             url('../icon/nav-drawer/l_select_arrow_in_line.svg');
    }
}

#nav-drawer label:has(~ label:hover):not(:has(~ input:checked)) .nav-selection-line::before,
#nav-drawer label:has(~ label ~ #sub-nav-drawer label:hover):not(:has(~ input:checked)):not(:has(~ label ~ #sub-nav-drawer input:checked)) .nav-selection-line::before,
#sub-nav-drawer:has(~ label:hover) label .nav-selection-line::after {
    background-image: var(--select_line);
}
#nav-drawer input:not(:checked) + label:has(+ #sub-nav-drawer label:hover):not(:has(~ input:checked)):not(:has(+ #sub-nav-drawer input:checked)) .nav-selection-line::before,
#nav-drawer label:hover .nav-selection-line::before {
    background-image: var(--select_arrow);
}
/* Checked Line and Arrow */
#nav-drawer label:has(~ input:checked) .nav-selection-line::before,
#nav-drawer label:has(~ label ~ #sub-nav-drawer input:checked) .nav-selection-line::before,
#sub-nav-drawer:has(~ input:checked) label .nav-selection-line::after {
    background-image: var(--line);
}
#nav-drawer label:has(+ #sub-nav-drawer input:checked) .nav-selection-line::before,
#nav-drawer input:checked + label .nav-selection-line::before {
    background-image: var(--selected_arrow);
}

/* Checked and Hover */
#nav-drawer input:checked + label:has(~ label:hover) .nav-selection-line::before,
#nav-drawer input:checked + label:has(~ label ~ #sub-nav-drawer label:hover) .nav-selection-line::before,
#nav-drawer label:has(+ #sub-nav-drawer input:checked):has(~ label:hover) .nav-selection-line::before {
    background-image: var(--selected_arrow_select_arrow_below)!important;/*!important*/
}
#nav-drawer label:hover:has(~ input:checked) .nav-selection-line::before,
#nav-drawer label:hover:has(~ label ~ #sub-nav-drawer input:checked) .nav-selection-line::before,
#nav-drawer label:has(+ #sub-nav-drawer label:hover):has(~ input:checked) .nav-selection-line::before {
    background-image: var(--select_arrow_in_line);
}

#nav-drawer > #mode {
    position: fixed;
    left: calc(2rem - 100%);
    bottom: 1rem;

    height: var(--h);
    width: calc(3 * var(--h));

    display: inline-flex;

    z-index: 2;

    transition: left 0.5s ease-in-out;
}
#nav-toggle:checked + * + * + #nav-drawer > #mode {
    left: 2rem;
}
@media (min-width:961px) {
    #nav-drawer > #mode {
        left: 2rem;
    }
}
#nav-drawer > #mode > label {
    height: var(--h);
    width: var(--h);

    display: inline-block;
}
#nav-drawer > #mode > label::before {
    position: absolute;

    --percentage_size: 0.85;

    margin: calc((1 - var(--percentage_size))  * var(--h) / 2); /* default 0.15rem */

    width: calc(var(--percentage_size) * var(--h)); /* default 1.7rem */
    height: calc(var(--percentage_size) * var(--h)); /* default 1.7rem */

    border-radius: 0.5rem;
    background-color: transparent;

    display: block;

    content: '';

    transition: background-color 0.5s ease-in-out;
}
#nav-drawer > #mode > label:hover::before {
    background-color: rgba(var(--nd_2), 0.3);
}
#nav-drawer > #mode > label > img {
    --percentage_size: 0.6;

    padding: calc((1 - var(--percentage_size))  * var(--h) / 2); /* default 0.4rem */

    height: calc(var(--percentage_size) * var(--h)); /* default 1.2rem */
    width: calc(var(--percentage_size) * var(--h)); /* default 1.2rem */

    object-fit: cover;
}
#nav-drawer > #mode > label > img {
    position: absolute;

    transition: opacity 0.5s ease-in-out;
}

#nav-drawer > #mode > label > img {
    opacity: 0;
}
@media (prefers-color-scheme: light) {
    #nav-drawer #mode:has(#system-mode:checked) > label > img:first-child, #nav-drawer #mode:has(#light-mode:checked) > label > img:first-child {
        /* d */
        opacity: 1;
    }
    #nav-drawer #mode:has(#dark-mode:checked) > label > img:last-child {
        /* l */
        opacity: 1;
    }
}
@media (prefers-color-scheme: dark) {
    #nav-drawer #mode:has(#system-mode:checked) > label > img:last-child, #nav-drawer #mode:has(#dark-mode:checked) > label > img:last-child {
        /* l */
        opacity: 1;
    }
    #nav-drawer #mode:has(#light-mode:checked) > label > img:first-child {
        /* d */
        opacity: 1;
    }
}
/* selection highlight */
#nav-drawer > #mode::before {
    position: absolute;

    --percentage_size: 0.85;

    margin: calc((1 - var(--percentage_size))  * var(--h) / 2); /* default 0.15rem */

    width: calc(var(--percentage_size) * var(--h)); /* default 1.7rem */
    height: calc(var(--percentage_size) * var(--h)); /* default 1.7rem */

    border-radius: 0.5rem;
    background-color: rgba(var(--nd_3), 0.8);

    display: block;

    content: '';
    pointer-events: none;
    transition: left 0.25s ease-in-out;
}
#nav-drawer #mode:has(#system-mode:checked)::before { left: 0; }
#nav-drawer #mode:has( #light-mode:checked)::before { left: 2rem; }
#nav-drawer #mode:has(  #dark-mode:checked)::before { left: 4rem; }

:root {color-scheme: light dark;}
/* :root:has(#nav-drawer #mode #system-mode:checked) {color-scheme: normal;} */
:root:has(#nav-drawer #mode  #light-mode:checked) {color-scheme: light;}
:root:has(#nav-drawer #mode   #dark-mode:checked) {color-scheme: dark;}

#nav-drawer > #emoji-mode {
    position: fixed;
    left: calc(var(--nav-drawer-width-estimate) - 4rem - 100%);
    bottom: 1rem;

    height: var(--h);
    width: var(--h);

    display: inline-block;

    z-index: 2;

    transition: left 0.5s ease-in-out;
}
#nav-toggle:checked + * + * + #nav-drawer > #emoji-mode {
    left: calc(var(--nav-drawer-width-estimate) - 4rem);
}
@media (min-width:961px) {
    #nav-drawer > #emoji-mode {
        left: calc(var(--nav-drawer-width-estimate) - 4rem);
    }
}
#nav-drawer #emoji-mode label {
    position: absolute;
    height: var(--h);
    width: var(--h);

    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
#nav-drawer #emoji-mode::before {
    position: absolute;

    --percentage_size: 0.85;

    margin: calc((1 - var(--percentage_size))  * var(--h) / 2); /* default 0.15rem */

    width: calc(var(--percentage_size) * var(--h)); /* default 1.7rem */
    height: calc(var(--percentage_size) * var(--h)); /* default 1.7rem */

    border-radius: 0.5rem;
    background-color: transparent;

    display: block;

    content: '';
    pointer-events: none;
    transition: background-color 0.5s ease-in-out;
}
#nav-drawer #emoji-mode:hover::before {
    background-color: rgba(var(--nd_2), 0.3);
}
#nav-drawer #emoji-mode:has(#emoji-toggle:checked)::before {
    background-color: rgba(var(--nd_3), 0.8);
}
:root:has(#nav-drawer #emoji-mode #emoji-toggle:checked) {
    --emoji_display: inline;
}
:root:has(#nav-drawer #emoji-mode #emoji-toggle:not(:checked)) {
    --emoji_display: none;
}

#nav-bar {
    height: 32px;
    width: fit-content;
    margin-block: 8px;
    padding: 8px;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    display: table;
    z-index: 5;
}

#nav-drawer input {
    display: none;
}
#nav-drawer input:nth-child(n):checked + label {
    /* text-decoration-color: gray; */
    /* background-color: var(--g1); */
    /* background-color: rgba(188, 188, 188, 0.5); */
}
#nav-drawer:has(#sub-nav-bar input:nth-of-type(n):checked) > label:nth-of-type(2) {
    text-decoration-color: gray;
}

#nav-drawer:has(#home:checked) ~ #content #homeSect, 
#nav-drawer:has(#proj:checked) ~ #content #projSect, 
#nav-drawer:has(#abou:checked) ~ #content #abouSect, 
#nav-drawer:has(#cont:checked) ~ #content #contSect, 
#nav-drawer:has( #ttc:checked) ~ #content #ttcSect, 
#nav-drawer:has( #num:checked) ~ #content #numSect, 
#nav-drawer:has( #dyn:checked) ~ #content #dynSect, 
#nav-drawer:has( #cir:checked) ~ #content #cirSect, 
#nav-drawer:has(#fpga:checked) ~ #content #fpgaSect,
#nav-drawer:has(#nios:checked) ~ #content #niosSect,
#nav-drawer:has(#medi:checked) ~ #content #mediSect,
#nav-drawer:has(#home:checked) ~ #content #homeSect > *, 
#nav-drawer:has(#proj:checked) ~ #content #projSect > *, 
#nav-drawer:has(#abou:checked) ~ #content #abouSect > *, 
#nav-drawer:has(#cont:checked) ~ #content #contSect > *, 
#nav-drawer:has( #ttc:checked) ~ #content #ttcSect > *, 
#nav-drawer:has( #num:checked) ~ #content #numSect > *, 
#nav-drawer:has( #dyn:checked) ~ #content #dynSect > *, 
#nav-drawer:has( #cir:checked) ~ #content #cirSect > *, 
#nav-drawer:has(#fpga:checked) ~ #content #fpgaSect > *,
#nav-drawer:has(#nios:checked) ~ #content #niosSect > *,
#nav-drawer:has(#medi:checked) ~ #content #mediSect > *{
    -webkit-animation-name: "animateShowExpand";
       -moz-animation-name: "animateShowExpand";
        -ms-animation-name: "animateShowExpand";
         -o-animation-name: "animateShowExpand";
            animation-name: "animateShowExpand";
}

#homeSect, #projSect, #abouSect, #contSect, #ttcSect, #numSect, #dynSect, #cirSect, #fpgaSect, #niosSect, #mediSect,
#homeSect > *, #projSect > *, #abouSect > *, #contSect > *, #ttcSect > *, #numSect > *, #dynSect > *, #cirSect > *, #fpgaSect > *, #niosSect > *, #mediSect > *{
    -webkit-animation-name: "animateHideCollapse";
       -moz-animation-name: "animateHideCollapse";
        -ms-animation-name: "animateHideCollapse";
         -o-animation-name: "animateHideCollapse";
            animation-name: "animateHideCollapse";
}

/* #sub-nav-bar {
    height: 32px;
    /* max-height: 32px;
    width: max-content;
    margin-block: 8px;
    padding: 8px;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    display: table;
    z-index: 0;
    transition-duration: 0.5s;
    opacity: 0;
    visibility: hidden;
    max-width: 90vw;
} */

#sub-nav-drawer:has( #ttc:checked), 
#sub-nav-drawer:has( #num:checked), 
#sub-nav-drawer:has( #dyn:checked), 
#sub-nav-drawer:has( #cir:checked), 
#sub-nav-drawer:has(#fpga:checked), 
#sub-nav-drawer:has(#nios:checked){
    top: 48px;
    opacity: 1;
    visibility: visible;
}

#content {
    padding: 0;
    margin: 0;
    /* overflow-y: hidden; */
    min-height: 100%;
    width: 100%;
    top: 0;
    transition: margin 0.3s ease-in-out, width 0.3s ease-in-out, top 0.15s ease-in-out;
}
@media (min-width:961px)  {
    #nav-toggle:checked + * + * + * + #content {
        width: calc(100% - var(--nav-drawer-width-estimate) - var(--content-push-in-distance));
        top: calc(var(--content-push-in-distance) / 2);
        margin-right: var(--content-push-in-distance);
        margin-bottom: var(--content-push-in-distance);
        margin-left: var(--nav-drawer-width-estimate);
        border-radius: 24px;
        transition: margin 0.3s ease-in-out, width 0.3s ease-in-out, top 0.5s ease-in-out;
    }
}

.emoji {
    white-space-collapse: preserve;
    /* display: inline !important; */
    display: var(--emoji_display) !important;
}

.dropShadow {
    box-shadow: 0px 0px 8px gray;
}

.card-border {
    border-radius: 8px;

    pointer-events: none;
}
.card {
    /* background-color: var(--a); */
    background-color: transparent;
    border-radius: 8px;
    border-style: solid;
    border-color: var(--s4);
    border-width: 1px;
    box-shadow: 0px 0px 16px var(--s2);
}

.link-card {
    border-radius: 16px;
    border-width: 2px;
    box-shadow: 0px 0px 8px gray;
    color: var(--p);
    padding: 0.8rem;
    cursor: pointer;
}
.link-card::hover {
    scale: 105%;
}

#footSect {
    background-color: var(--pa);
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }