#nav-hamburger {
    width: 24px;
    height: 24px;
    padding: 0;

    position: fixed;
    top: 16px;
    left: 16px;
    z-index: 9;

    cursor: pointer;
}
#hamburger, #hamburger::before, #hamburger::after {
    width: 24px;
    height: 3px;

    position: absolute;
    left: 0px;

    border-radius: 2px;
    background-color: var(--p);
    transition-duration: 0.5s;
}
#hamburger {
    margin-block: 10px;

    top: 0px;
}
#hamburger::before {
    top: -8px;
    z-index: 9;

    content: "";
}
#hamburger::after {
    top: 8px;
    z-index: 9;
    
    content: "";
}
#nav-hamburger:hover #hamburger::before {
    animation-name: shift_right_and_back;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}
#nav-hamburger:hover #hamburger {
    animation-name: shift_right_and_back;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 0.25s;
}
#nav-hamburger:hover #hamburger::after {
    animation-name: shift_right_and_back;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 0.50s;
}
@keyframes shift_right_and_back {
    0%  {padding-right: 0;}
    25% {padding-right: 2px;}
    50%{padding-right: 0;}
}
#nav-toggle:checked + * #hamburger {
    background-color: transparent;

    animation-name: none;
}
#nav-toggle:checked + * #hamburger::before {
    top: 0;
    rotate: -45deg;

    animation-name: none;
}
#nav-toggle:checked + * #hamburger::after {
    top: 0;
    rotate: 45deg;

    animation-name: none;
}
#nav-toggle {
    display: none;
}


@media (prefers-color-scheme: light) {
    :root:has(#nav-drawer #mode #system-mode:checked), :root:has(#nav-drawer #mode  #light-mode:checked) #nav-drawer {
        --nd_1: 200, 200, 200;
        --nd_2: 160, 160, 160;
        --nd_3: 120, 120, 120;
        --nd_4:  80,  80,  80;
        --nd_5:  40,  40,  40;
    }
    :root:has(#nav-drawer #mode   #dark-mode:checked) #nav-drawer {
        --nd_1:  40,  40,  40;
        --nd_2:  80,  80,  80;
        --nd_3: 120, 120, 120;
        --nd_4: 160, 160, 160;
        --nd_5: 200, 200, 200;
    }
}
@media (prefers-color-scheme: dark) {
    :root:has(#nav-drawer #mode #system-mode:checked), :root:has(#nav-drawer #mode   #dark-mode:checked) #nav-drawer {
        --nd_1:  40,  40,  40;
        --nd_2:  80,  80,  80;
        --nd_3: 120, 120, 120;
        --nd_4: 160, 160, 160;
        --nd_5: 200, 200, 200;
    }
    :root:has(#nav-drawer #mode  #light-mode:checked) #nav-drawer {
        --nd_1: 200, 200, 200;
        --nd_2: 160, 160, 160;
        --nd_3: 120, 120, 120;
        --nd_4:  80,  80,  80;
        --nd_5:  40,  40,  40;
    }
}
#nav-drawer {
    /* --padding-block: 56px; */
    --padding-block: 3.5rem;
    /* width: 0px; */
    width: fit-content;
    height: calc(100dvh - 2 * var(--padding-block));
    padding-inline: 0px;
    padding-block: var(--padding-block);

    position: fixed;
    left: -100%;
    z-index: 8;

    box-shadow: 0px 0px 8px black;
    transition: left 0.5s ease-in-out;
    background: rgba(var(--nd_1), 0.4);
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    border: 1px solid rgba(63, 63, 63, 0.34);

    float: left;

    font-family: Satoshi-Regular, Helvetica, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --h: 30px;
    --p_t: 0px; /*padding top*/
}
#nav-toggle:checked + * + #nav-drawer {
    /* width: fit-content; */
    left: 0;
    padding-inline: 42px;
}

#nav-drawer > label, #nav-drawer > *:not(#mode):not(#emoji-mode) label {
    height: calc(var(--h) - var(--p_t));
    padding-inline: 8px;
    padding-top: var(--p_t);

    border: none;
    border-radius: 10px;
    display: flex;
    transition-duration: 0.5s;

    align-items: center;
    font-size: 20px;
    font-weight: 300;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: transparent;
    color: var(--p);
}
#nav-drawer label:hover {
    cursor: pointer;
}
#nav-drawer > *:not(#mode):not(#emoji-mode) + label:hover, #sub-nav-drawer label:hover {
    /* background-color: var(--g4); */
    background-color: rgba(var(--nd_2), 0.3);
}
#nav-drawer label:has(+ #sub-nav-drawer label:hover) {
    /* background-color: var(--g5); */
    background-color: rgba(var(--nd_2), 0.3);
}
#nav-drawer label:has(+ #sub-nav-drawer input:checked) {
    background-color: rgba(var(--nd_3), 0.45);
}
#nav-drawer > *:not(#mode):checked + label, #sub-nav-drawer input:checked + label {
    background-color: rgba(var(--nd_3), 0.8);
}

#nav-drawer label .nav-selection-line {
    height: 0px;
    width: 0px;
    
    position: relative;
    top: 0px;
    left: 0px;
}
#nav-drawer label .nav-selection-line::before,
#sub-nav-drawer label .nav-selection-line::after {
    height: var(--h);
    width: var(--h);
    margin-right: 4px;

    position: absolute;
    top: calc(var(--h) / -2);

    display: block;
    /* background-image: url('/icon/nav-drawer/Select\ Arrow.svg'); */
    background-size: cover;

    content: "";
}
#nav-drawer label .nav-selection-line::before {
    right: 0px;
}
#sub-nav-drawer label .nav-selection-line::after {
    right: var(--h);
}
#nav-drawer #sub-nav-drawer {
    /* padding-left: 28px; */
    padding-left: var(--h);
}

/* Hover Line and Arrow*/
@media (prefers-color-scheme: light) {
    :root:has(#nav-drawer #mode #system-mode:checked), :root:has(#nav-drawer #mode  #light-mode:checked) {
        --select_line:                      url('../icon/nav-drawer/l_select_line.svg');
        --select_arrow:                     url('../icon/nav-drawer/l_select_arrow.svg');
        --line:                             url('../icon/nav-drawer/l_line.svg');
        --selected_arrow:                   url('../icon/nav-drawer/l_selected_arrow.svg');
        --selected_arrow_select_arrow_below:url('../icon/nav-drawer/l_selected_arrow_+_select_arrow_below.svg')!important;
        --select_arrow_in_line:             url('../icon/nav-drawer/l_select_arrow_in_line.svg');
    }
    :root:has(#nav-drawer #mode   #dark-mode:checked) {
        --select_line:                      url('../icon/nav-drawer/d_select_line.svg');
        --select_arrow:                     url('../icon/nav-drawer/d_select_arrow.svg');
        --line:                             url('../icon/nav-drawer/d_line.svg');
        --selected_arrow:                   url('../icon/nav-drawer/d_selected_arrow.svg');
        --selected_arrow_select_arrow_below:url('../icon/nav-drawer/d_selected_arrow_+_select_arrow_below.svg')!important;
        --select_arrow_in_line:             url('../icon/nav-drawer/d_select_arrow_in_line.svg');
    }
}
@media (prefers-color-scheme: dark) {
    :root:has(#nav-drawer #mode #system-mode:checked), :root:has(#nav-drawer #mode   #dark-mode:checked) {
        --select_line:                      url('../icon/nav-drawer/d_select_line.svg');
        --select_arrow:                     url('../icon/nav-drawer/d_select_arrow.svg');
        --line:                             url('../icon/nav-drawer/d_line.svg');
        --selected_arrow:                   url('../icon/nav-drawer/d_selected_arrow.svg');
        --selected_arrow_select_arrow_below:url('../icon/nav-drawer/d_selected_arrow_+_select_arrow_below.svg');
        --select_arrow_in_line:             url('../icon/nav-drawer/d_select_arrow_in_line.svg');
    }
    :root:has(#nav-drawer #mode  #light-mode:checked) {
        --select_line:                      url('../icon/nav-drawer/l_select_line.svg');
        --select_arrow:                     url('../icon/nav-drawer/l_select_arrow.svg');
        --line:                             url('../icon/nav-drawer/l_line.svg');
        --selected_arrow:                   url('../icon/nav-drawer/l_selected_arrow.svg');
        --selected_arrow_select_arrow_below:url('../icon/nav-drawer/l_selected_arrow_+_select_arrow_below.svg');
        --select_arrow_in_line:             url('../icon/nav-drawer/l_select_arrow_in_line.svg');
    }
}

#nav-drawer label:has(~ label:hover):not(:has(~ input:checked)) .nav-selection-line::before,
#nav-drawer label:has(~ label ~ #sub-nav-drawer label:hover):not(:has(~ input:checked)):not(:has(~ label ~ #sub-nav-drawer input:checked)) .nav-selection-line::before,
#sub-nav-drawer:has(~ label:hover) label .nav-selection-line::after {
    background-image: var(--select_line);
}
#nav-drawer input:not(:checked) + label:has(+ #sub-nav-drawer label:hover):not(:has(~ input:checked)):not(:has(+ #sub-nav-drawer input:checked)) .nav-selection-line::before,
#nav-drawer label:hover .nav-selection-line::before {
    background-image: var(--select_arrow);
}
/* Checked Line and Arrow */
#nav-drawer label:has(~ input:checked) .nav-selection-line::before,
#nav-drawer label:has(~ label ~ #sub-nav-drawer input:checked) .nav-selection-line::before,
#sub-nav-drawer:has(~ input:checked) label .nav-selection-line::after {
    background-image: var(--line);
}
#nav-drawer label:has(+ #sub-nav-drawer input:checked) .nav-selection-line::before,
#nav-drawer input:checked + label .nav-selection-line::before {
    background-image: var(--selected_arrow);
}

/* Checked and Hover */
#nav-drawer input:checked + label:has(~ label:hover) .nav-selection-line::before,
#nav-drawer input:checked + label:has(~ label ~ #sub-nav-drawer label:hover) .nav-selection-line::before,
#nav-drawer label:has(+ #sub-nav-drawer input:checked):has(~ label:hover) .nav-selection-line::before {
    background-image: var(--selected_arrow_select_arrow_below)!important;/*!important*/
}
#nav-drawer label:hover:has(~ input:checked) .nav-selection-line::before,
#nav-drawer label:hover:has(~ label ~ #sub-nav-drawer input:checked) .nav-selection-line::before,
#nav-drawer label:has(+ #sub-nav-drawer label:hover):has(~ input:checked) .nav-selection-line::before {
    background-image: var(--select_arrow_in_line);
}

#nav-drawer #mode {
    position: absolute;
    left: 1rem;
    bottom: 1rem;

    height: 2rem;
    width: 6rem;

    border-radius: 0.8rem;
    border-width: 2px;
    border-color: gray;
    border-style: solid;
    box-shadow: 0px 0px 8px gray;

    display: flex;

    background-color: lightgray;
}
#nav-drawer #mode label {
    height: 2rem;
    width: 2rem;

    display: inline-block;
}
#nav-drawer #mode label img {
    padding: 0.4rem;

    height: 1.2rem;
    width: 1.2rem;

    object-fit: cover;
}
#nav-drawer #mode::before {
    position: absolute;

    margin: 0.15rem;

    width: calc(1.7rem - 2px * 2);
    height: calc(1.7rem - 2px * 2);

    border-radius: 0.5rem;
    border-width: 2px;
    border-color: gray;
    border-style: solid;
    box-shadow: 0px 0px 8px gray;

    display: block;

    background-color: rgba(255, 255, 255, 0.175);
    content: '';
    pointer-events: none;
    transition: left 0.25s ease-in-out;
}
#nav-drawer #mode:has(#system-mode:checked)::before { left: 0; }
#nav-drawer #mode:has( #light-mode:checked)::before { left: 2rem; }
#nav-drawer #mode:has(  #dark-mode:checked)::before { left: 4rem; }

:root {color-scheme: light dark;}
/* :root:has(#nav-drawer #mode #system-mode:checked) {color-scheme: normal;} */
:root:has(#nav-drawer #mode  #light-mode:checked) {color-scheme: light;}
:root:has(#nav-drawer #mode   #dark-mode:checked) {color-scheme: dark;}

#nav-drawer #emoji-mode {
    position: absolute;
    right: 1rem;
    bottom: 1rem;

    height: 2rem;
    width: 2rem;

    border-radius: 0.8rem;
    border-width: 2px;
    border-color: gray;
    border-style: solid;
    box-shadow: 0px 0px 8px gray;

    /* display: flex; */

    background-color: lightgray;
}
#nav-drawer #emoji-mode label {
    height: 2rem;
    width: 2rem;

    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
#nav-drawer #emoji-mode::before {
    position: absolute;

    margin: 0.15rem;

    width: calc(1.7rem - 2px * 2);
    height: calc(1.7rem - 2px * 2);

    border-radius: 0.5rem;
    border-width: 2px;
    border-color: gray;
    border-style: solid;
    box-shadow: 0px 0px 8px gray;

    display: block;
    opacity: 0;

    background-color: rgba(255, 255, 255, 0.175);
    content: '';
    pointer-events: none;
    transition: opacity 0.25s ease-in-out;
}
#nav-drawer #emoji-mode:has(#emoji-toggle:checked)::before { opacity: 1; }
:root:has(#nav-drawer #emoji-mode #emoji-toggle:checked) {
    --emoji_display: inline;
}
:root:has(#nav-drawer #emoji-mode #emoji-toggle:not(:checked)) {
    --emoji_display: none;
}

#nav-bar {
    height: 32px;
    width: fit-content;
    margin-block: 8px;
    padding: 8px;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    display: table;
    z-index: 5;
}

#nav-drawer input {
    display: none;
}
#nav-drawer input:nth-child(n):checked + label {
    /* text-decoration-color: gray; */
    /* background-color: var(--g1); */
    /* background-color: rgba(188, 188, 188, 0.5); */
}
#nav-drawer:has(#sub-nav-bar input:nth-of-type(n):checked) > label:nth-of-type(2) {
    text-decoration-color: gray;
}

#nav-drawer:has(#home:checked) ~ #content #homeSect, 
#nav-drawer:has(#proj:checked) ~ #content #projSect, 
#nav-drawer:has(#abou:checked) ~ #content #abouSect, 
#nav-drawer:has(#cont:checked) ~ #content #contSect, 
#nav-drawer:has( #ttc:checked) ~ #content #ttcSect, 
#nav-drawer:has( #num:checked) ~ #content #numSect, 
#nav-drawer:has( #dyn:checked) ~ #content #dynSect, 
#nav-drawer:has( #cir:checked) ~ #content #cirSect, 
#nav-drawer:has(#fpga:checked) ~ #content #fpgaSect,
#nav-drawer:has(#nios:checked) ~ #content #niosSect,
#nav-drawer:has(#medi:checked) ~ #content #mediSect,
#nav-drawer:has(#home:checked) ~ #content #homeSect > *, 
#nav-drawer:has(#proj:checked) ~ #content #projSect > *, 
#nav-drawer:has(#abou:checked) ~ #content #abouSect > *, 
#nav-drawer:has(#cont:checked) ~ #content #contSect > *, 
#nav-drawer:has( #ttc:checked) ~ #content #ttcSect > *, 
#nav-drawer:has( #num:checked) ~ #content #numSect > *, 
#nav-drawer:has( #dyn:checked) ~ #content #dynSect > *, 
#nav-drawer:has( #cir:checked) ~ #content #cirSect > *, 
#nav-drawer:has(#fpga:checked) ~ #content #fpgaSect > *,
#nav-drawer:has(#nios:checked) ~ #content #niosSect > *,
#nav-drawer:has(#medi:checked) ~ #content #mediSect > *{
    -webkit-animation-name: "animateShowExpand";
       -moz-animation-name: "animateShowExpand";
        -ms-animation-name: "animateShowExpand";
         -o-animation-name: "animateShowExpand";
            animation-name: "animateShowExpand";
}

#homeSect, #projSect, #abouSect, #contSect, #ttcSect, #numSect, #dynSect, #cirSect, #fpgaSect, #niosSect, #mediSect,
#homeSect > *, #projSect > *, #abouSect > *, #contSect > *, #ttcSect > *, #numSect > *, #dynSect > *, #cirSect > *, #fpgaSect > *, #niosSect > *, #mediSect > *{
    -webkit-animation-name: "animateHideCollapse";
       -moz-animation-name: "animateHideCollapse";
        -ms-animation-name: "animateHideCollapse";
         -o-animation-name: "animateHideCollapse";
            animation-name: "animateHideCollapse";
}

/* #sub-nav-bar {
    height: 32px;
    /* max-height: 32px;
    width: max-content;
    margin-block: 8px;
    padding: 8px;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    display: table;
    z-index: 0;
    transition-duration: 0.5s;
    opacity: 0;
    visibility: hidden;
    max-width: 90vw;
} */

#sub-nav-drawer:has( #ttc:checked), 
#sub-nav-drawer:has( #num:checked), 
#sub-nav-drawer:has( #dyn:checked), 
#sub-nav-drawer:has( #cir:checked), 
#sub-nav-drawer:has(#fpga:checked), 
#sub-nav-drawer:has(#nios:checked){
    top: 48px;
    opacity: 1;
    visibility: visible;
}

#content {
    padding: 0;
    /* overflow-y: hidden; */
    min-height: 100%;
    width: 100%;
}

.emoji {
    white-space-collapse: preserve;
    /* display: inline !important; */
    display: var(--emoji_display) !important;
}

.dropShadow {
    box-shadow: 0px 0px 8px gray;
}

.card-border {
    border-radius: 8px;

    pointer-events: none;
}
.card {
    /* background-color: var(--a); */
    background-color: transparent;
    border-radius: 8px;
    border-style: solid;
    border-color: var(--s4);
    border-width: 1px;
    box-shadow: 0px 0px 16px var(--s2);
}

.link-card {
    border-radius: 16px;
    border-width: 2px;
    box-shadow: 0px 0px 8px gray;
    color: var(--p);
    padding: 0.8rem;
    cursor: pointer;
}
.link-card::hover {
    scale: 105%;
}

#footSect {
    background-color: var(--pa);
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }