#footSect {
    padding-block: 2rem;
    padding-inline: max(2rem, 20% - 2rem);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: max(2rem, 10%);
    /* row-gap: max(2rem, 10%); */
    row-gap: 8px;
}
@media (min-width:48rem) {
    #footSect {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
}

#footSect > * {
    display: flex;
    justify-content: right;
    flex-direction: column;
}
#footSect h4 {
    margin-bottom: 1rem;
}
#footSect a {
    margin-block: 0.25rem;
}
#footSect p {
    margin-block: 0.25rem;
}

#footSect #contactIconGallery{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
#footSect .contactIcon, #footSect .contactIcon > * {
    height: 2rem;
    width: 2rem;
    transform: translate3d(0, 0, 0);
    /* background-color: white; */
}

#footIcon {
    margin: 4px;

    height: 4rem;
    width: 4rem;

    background-color: black;
    border-radius: 0.75rem;
}

#footIcon > img {
    padding: 0.5rem;

    height: calc(100% - 1rem);
    width: calc(100% - 1rem);
}