#nav-bar {
    height: 32px;
    width: fit-content;
    margin-block: 8px;
    padding: 8px;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    display: table;
    z-index: 5;
}

#nav-bar input {
    display: none;
}
#nav-bar input:nth-child(n):checked + label {
    text-decoration-color: gray;
}
#nav-bar:has(#sub-nav-bar input:nth-of-type(n):checked) > label:nth-of-type(2) {
    text-decoration-color: gray;
}

label {
    font-size: 14px;
    font-weight: 300;
    height: inherit;
    background-color: transparent;
    border: none;
    display: table-cell;
    vertical-align: middle;
    padding-inline: 4px;
    transition-duration: 0.5s;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: transparent;
}

label:hover {
    cursor: pointer;
    text-decoration-color: lightgray;
}

#nav-bar:has(#home:checked) ~ #content #homeSect, 
#nav-bar:has(#proj:checked) ~ #content #projSect, 
#nav-bar:has(#abou:checked) ~ #content #abouSect, 
#nav-bar:has(#cont:checked) ~ #content #contSect, 
#nav-bar:has( #ttc:checked) ~ #content #ttcSect, 
#nav-bar:has( #num:checked) ~ #content #numSect, 
#nav-bar:has( #dyn:checked) ~ #content #dynSect, 
#nav-bar:has( #cir:checked) ~ #content #cirSect, 
#nav-bar:has(#fpga:checked) ~ #content #fpgaSect,
#nav-bar:has(#home:checked) ~ #content #homeSect > *, 
#nav-bar:has(#proj:checked) ~ #content #projSect > *, 
#nav-bar:has(#abou:checked) ~ #content #abouSect > *, 
#nav-bar:has(#cont:checked) ~ #content #contSect > *, 
#nav-bar:has( #ttc:checked) ~ #content #ttcSect > *, 
#nav-bar:has( #num:checked) ~ #content #numSect > *, 
#nav-bar:has( #dyn:checked) ~ #content #dynSect > *, 
#nav-bar:has( #cir:checked) ~ #content #cirSect > *, 
#nav-bar:has(#fpga:checked) ~ #content #fpgaSect > *{
    -webkit-animation-name: "animateShowExpand";
       -moz-animation-name: "animateShowExpand";
        -ms-animation-name: "animateShowExpand";
         -o-animation-name: "animateShowExpand";
            animation-name: "animateShowExpand";
}

#homeSect, #projSect, #abouSect, #contSect, #ttcSect, #numSect, #dynSect, #cirSect, #fpgaSect,
#homeSect > *, #projSect > *, #abouSect > *, #contSect > *, #ttcSect > *, #numSect > *, #dynSect > *, #cirSect > *, #fpgaSect > *{
    -webkit-animation-name: "animateHideCollapse";
       -moz-animation-name: "animateHideCollapse";
        -ms-animation-name: "animateHideCollapse";
         -o-animation-name: "animateHideCollapse";
            animation-name: "animateHideCollapse";
}

#sub-nav-bar {
    height: 32px;
    /* max-height: 32px; */
    width: max-content;
    margin-block: 8px;
    padding: 8px;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    display: table;
    z-index: 0;
    transition-duration: 0.5s;
    opacity: 0;
    visibility: hidden;
    max-width: 90vw;
}

/* #nav-bar:has(#proj:checked) > #sub-nav-bar,  */
#sub-nav-bar:has( #ttc:checked), 
#sub-nav-bar:has( #num:checked), 
#sub-nav-bar:has( #dyn:checked), 
#sub-nav-bar:has( #cir:checked), 
#sub-nav-bar:has(#fpga:checked){
    top: 48px;
    opacity: 1;
    visibility: visible;
}

#content {
    padding: 0;
    /* overflow-y: hidden; */
    min-height: 100%;
    width: 100%;
}



.dropShadow {
    box-shadow: 0px 0px 8px gray;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 8px gray;
    /* border-style: solid; */
    /* border-width: 1px; */
}

.link-card {
    background-color: #0083f7;
    color: white;
    border-radius: 16px;
    box-shadow: 0px 0px 8px gray;
    padding: 1rem;
    cursor: pointer;
}
.link-card::after {
    content: "→";
}

#footSect {
    background-color: lightgray;
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }