:root{
    --headerHeight: 64px;
    --footerHeight: 64px;
    --mainHeight: calc(100vh - var(--headerHeight) - var(--footerHeight));
    --contentTablePadding: 32px;
    --contentBlockWidth: min(512px, calc(100vw - 64px));
    --contentBlockHeight: calc(196px);
    --contentBlockPadding: 32px;
    --contentBlockImageHeight: min(calc(var(--mainHeight) - var(--contentTablePadding) * 2 - var(--contentBlockHeight)), var(--contentBlockWidth));
    --menu: 0;
    color: white;
    --backgroundColor: #14233a;
    --accentColor: #303843;
    --project1Color: rgb(49, 85, 126);
    --project2Color: rgb(211, 120, 35);
    --project3Color: rgb(74, 157, 56);
    --project4Color: rgb(166, 51, 51);
    --project5Color: rgb(135, 59, 174);
}

/* general formatting */
.noMargin{
    margin: 0;
}
.noPadding{
    padding: 0;
}
.noBorder{
    margin: 0;
    padding: 0;
}
.hidden{
    position: absolute;
    visibility: hidden;
}
.table{
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
    border-style: hidden!important;
    border: 0;
}
.table .cell{
    display: table-cell;
    border-spacing: 0;
    border-collapse: collapse;
    border-style: hidden!important;
    border: 0;
}

body{
    top: 100vh;     /* fall back */
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;

    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0;

    overflow: hidden;
}
body::-webkit-scrollbar{
    display: none;
}

.icon{
    background-color: rgb(0, 0, 0);
    display: inline-block;
    width: 48px;
    height: 48px;
    padding: 0;
    border: 0;
    border-radius: 8px;
    transition-duration: 0.2s;
}
.icon img{
    position: relative;
    width: 40px;
    height: 40px;
    top: 4px;
    left: 4px;
}
.icon:hover > img{
    opacity: 80%;
}
h2{
    margin-top: 0px;
}
/*_________________________________________________________________________________________________*/
/* loading screen */

/*_________________________________________________________________________________________________*/
/* header formatting */
header{
    background-color: var(--backgroundColor);
    width: 100vw;
    height: var(--headerHeight);
    box-shadow: 0px 8px 8px var(--accentColor);
    position: absolute;
    z-index: 10;

}
.logo{
    position: relative;
    top: 8px;
    left: 8px;
}
.logo img{
    width: 48px;
    height: 48px;
    top: 0px;
    left: 0px;
}
.logo:hover{
    cursor: pointer;
}
.title{
    position: absolute;
    top: calc((var(--headerHeight) - 1em) / 2);
    left: calc(8px * 2 + 48px);
}
@media only screen and (max-width: calc(265px + 48px * 6 + 8px * 8)){
    .title{
        visibility: hidden;
    }
}
.navHolder{
    position: absolute;
    top: 0;
    left: 100vw;
}
nav{
    position: relative;
    top: calc((var(--headerHeight) - 48px) / 2);
    right: calc(48px * 5 + 8px * 5);
    width: calc(48px * 5 + 8px * 4);
    height: 48px;
    transition-duration: 0.2s;
}
.navAct{
    right: calc(48px + 8px);
    width: calc(48px);
}
nav:hover{
    right: calc(48px * 5 + 8px * 5);
    width: calc(48px * 5 + 8px * 4);
}
.projLogo{
    position: absolute;
    width: 48px;
    height: 48px;
}
.projLogo:hover{
    cursor: pointer;
}
.projLogo:hover > img{
    opacity: 80%;
}
.projLogo:nth-child(1){
    left: 0px;
}
.projLogo:nth-child(2){
    left: calc(48px + 8px);
}
.projLogo:nth-child(3){
    left: calc(48px * 2 + 8px * 2);
}
.projLogo:nth-child(4){
    left: calc(48px * 3 + 8px * 3);
}
.projLogo:nth-child(5){
    left: calc(48px * 4 + 8px * 4);
}
.projLogo:nth-child(2){
    left: calc(48px + 8px);
}
.projLogo:nth-child(3){
    left: calc(48px * 2 + 8px * 2);
}
.projLogo:nth-child(4){
    left: calc(48px * 3 + 8px * 3);
}
.projLogo:nth-child(5){
    left: calc(48px * 4 + 8px * 4);
}
.navAct:hover > .projLogo:nth-child(1){
    left: 0px;
}
.navAct:hover > .projLogo:nth-child(2){
    left: calc(48px + 8px);
}
.navAct:hover > .projLogo:nth-child(3){
    left: calc(48px * 2 + 8px * 2);
}
.navAct:hover > .projLogo:nth-child(4){
    left: calc(48px * 3 + 8px * 3);
}
.navAct:hover > .projLogo:nth-child(5){
    left: calc(48px * 4 + 8px * 4);
}
.navAct > .projLogo{
    left: 0px;
}

/* main formatting */
main{
    background-color: var(--backgroundColor);
    width: 100vw;
    height: max(calc(var(--headerHeight) + var(--contentBlockHeight) * 5 + var(--contentBlockPadding) * 6 + var(--footerHeight)), 100vh);
}
.contentTable{
    position: absolute;
    top: var(--headerHeight);
    height: var(--mainHeight);
    width: 100vw;
    overflow-x: auto;
}
.contentTable table{
    height: 100%;
    width: calc(var(--contentBlockWidth) * 5 + var(--contentBlockPadding) * 10);
}
.contentTable td{
    padding: var(--contentTablePadding);
    border: none;
    width: 100vw;
    
}
.contentBlock {
    position: relative;
    top: 0;
    left: 0;
    width: calc(var(--contentBlockWidth));
    height: calc(var(--contentBlockHeight) - var(--contentBlockPadding) + var(--contentBlockImageHeight));
    border-radius: 32px;
    box-shadow: 8px 8px 8px var(--accentColor);
    cursor: default;
    display: flex;
    flex-flow: column;
}
.contentBlock > *{
    padding-left: var(--contentBlockPadding);
    padding-right: var(--contentBlockPadding);
    padding-top: 16px;
    margin: 0;
}
.contentBlock h2{
    padding-top: 20px;
}
.contentBlockLink{
    display:inline-block;
    text-decoration: none;
    padding-bottom: 20px;
}
.contentBlockLink svg{
    position: relative;
    width: 1em;
    height: 1em;
    top: 2px;
}
.contentBlockLink:hover{
    cursor: pointer;
}
.contentBlockLink:hover svg{
    animation: oscillate 0.9s forwards infinite ease-in-out;
}
.contentBlockImage{
    display:inline-block;
    width: var(--contentBlockWidth);
    height: calc(var(--contentBlockHeight) - - 20px * 4);
    height: 100%;
    padding: 0;

    border-radius: 32px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    object-fit: cover;
}
/* media queries can't use root variables */
@media only screen and (max-height: 416px){
    .contentBlockImage{
        visibility: hidden;
    }
}

.projectBlock{
    position: absolute;
    top: var(--headerHeight);
    left: 0;
    width: 100vw;
    height: var(--mainHeight);
    visibility: hidden;
    display: flex;
    justify-content: center;
}

.projectContentBlock{
    width: calc(var(--contentBlockWidth) * 2 - var(--contentBlockPadding) * 2 - var(--contentTablePadding) * 2);
    margin: var(--contentTablePadding);
    padding: var(--contentBlockPadding);
    overflow-y: auto;
    border-radius: 32px;
    box-shadow: 8px 8px 8px var(--accentColor);
    cursor: default;
}
@media only screen and (max-width: 1024px){
    .projectContentBlock{
        left: 0;
        width: calc(100vw - var(--contentBlockPadding) * 2);
    }
}

/* footer formatting */
/* fix for mobile devices */
/* https://ilxanlar.medium.com/you-shouldnt-rely-on-css-100vh-and-here-s-why-1b4721e74487 */
footer{
    position: fixed;
    left: 0;
    top: calc(100% - var(--footerHeight));
    width: 100vw;
    height: var(--footerHeight);
    background-color: var(--backgroundColor);
    box-shadow: 0px -8px 8px var(--accentColor);
}

.githubIcon{
    position: relative;
    top: 8px;
    left: 8px;
}

.itchioIcon{
    position: relative;
    top: 8px;
    left: calc(8px * 2);
}

.modeIcon{
    position: relative;
    cursor: pointer;
}

/*_________________________________________________________________________________________________*/
/* animations */
@keyframes oscillate {
    0%  {left: 0px;}
    50%  {left: 4px;}
    100%  {left: 0px;}
}
@keyframes fadeOut {
    0% {opacity: 100%;}
    100% {opacity: 0%;}
}
@keyframes fadeIn {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}